<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Película</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section class="formulario">
        <form action="/movies/create" method="POST">
            <label for="title">Título</label>
            <p><input type="text" name="title" id="title" required></p>
            <p class="error-message"><%= locals.errors && errors.title ? errors.title.msg : null %></p>

            <label for="rating">Rating</label>
            <p><input type="number" name="rating" id="rating" required></p>
            <p class="error-message"><%= locals.errors && errors.rating ? errors.rating.msg : null %></p>

            <label for="awards">Premios</label>
            <p><input type="number" name="awards" id="awards" required></p>
            <p class="error-message"><%= locals.errors && errors.awards ? errors.awards.msg : null %></p>

            <label for="release_date">Fecha de lanzamiento</label>
            <p><input type="date" name="release_date" id="release_date" required></p>
            <p class="error-message"><%= locals.errors && errors.release_date ? errors.release_date.msg : null %></p>

            <label for="length">Duración</label>
            <p><input type="number" name="length" id="length" required></p>
            <p class="error-message"><%= locals.errors && errors.length ? errors.length.msg : null %></p>

            <br>
            <p>
                <button class="botonAgregar" type="submit">Agregar</button>
                <a class="botonVolver" href="/movies">Listado de Películas</a>
            </p>
        </form>
    </section>

</body>

</html>
